<div class="main-header__navigation">
  <div class="main-header__initialBanner">
    <a href="#">SUPER SALE HASTA 70% OFF 😎, ¡ENTRA YA!</a>
  </div>
  <div class="main-header__navigation--search">
    <div class="main-header__navigation--account">
      <a href="#"><i class="fas fa-user"></i></a>
    </div>
    <form action="#" method="Get">
      <input
        type="text"
        name="search"
        placeholder="Busca tu producto"
        class="search-content"
        required
      />
      <input type="submit" value="&#128269;" />
    </form>

    <div class="main-header__navigation--cart">
      <a href="#"><i class="fas fa-shopping-cart"></i></a>
    </div>

    <!-- HAMBURGER MENU -->
    <input
      type="checkbox"
      class="main-header__navigation--checkbox"
      id="navi-toggle"
      onchange="onCheckBoxHamburger(this)"
    />
    <label for="navi-toggle" class="main-header__navigation--button"
      ><span class="main-header__navigation--icon">&nbsp</span></label
    >
    <div class="main-header__navigation--background">&nbsp</div>
    <!-- HAMBURGER MENU -->
  </div>

  <nav class="main-header__navigation--navBar">
    <ul>
      <li><a href="#">MASCULINO</a></li>
      <li><a href="#">FEMENINO</a></li>
      <li><a href="#">NIÑO</a></li>
      <li><a href="#">NIÑO</a></li>
      <li><a href="#" class="sale">SALE</a></li>
    </ul>
  </nav>
</div>
