<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head")%>
  <body>
    <header class="main-header">
      <%- include("partials/navigation")%>
      <div class="main-header__banner">
        <img src="/images/Banner.jpg" alt="banner" />
      </div>
    </header>

    <main class="main">
      <section class="main__categories">
        <div class="main__categories--man">
          <a href="#">
            <i class="fas fa-male male"></i>
            <p>Hombre</p>
          </a>
        </div>
        <div class="main__categories--woman">
          <a href="#">
            <i class="fas fa-female female"></i>
            <p>Mujer</p>
          </a>
        </div>
        <div class="main__categories--boy">
          <a href="#">
            <i class="fas fa-child male"></i>
            <p>Niño</p>
          </a>
        </div>
        <div class="main__categories--girl">
          <a href="#">
            <i class="fas fa-child female"></i>
            <p>Niña</p>
          </a>
        </div>
      </section>
    </main>
  </body>
</html>
