.main-footer {
  background-color: rgba(black, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  &__mainContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 2rem;
    ul {
      li {
        list-style: none;
        margin: 1rem 0;
        a {
          color: white;
          text-decoration: none;
          transition: 0.3s;
          &:hover {
            color: #c2c458;
          }
        }
      }
    }
    &--socialMedia {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;

      .fa-facebook-square {
        color: #4267b2;
      }
      .fa-instagram-square {
        color: #e1306c;
      }
      .fa-twitter-square {
        color: #1da1f2;
      }
      i {
        margin-right: 1rem;
        font-size: 3rem;
      }
    }
  }
  &__mainForm {
    font-size: 2rem;
    padding: 1rem;

    &--form {
      display: flex;
      flex-direction: column;
      .label-checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      & > * {
        margin: 0.4rem 0.5rem;
      }
      input,
      button,
      SELECT {
        height: 3.5rem;
      }
    }
  }
}
