@media (min-width: 460px) {
  html {
    font-size: 7px;
  }

  .main-header__navigation {
    &--search {
      display: flex;
      flex-direction: row;
      justify-content: center !important;
      align-items: center;
      & > * {
        margin: 1rem 4rem;
      }
    }
    &--background,
    &--button {
      display: none !important;
    }
    &--navBar {
      display: block !important;
      background-color: rgba(black, 0.9);
      ul {
        display: flex;
        justify-content: center;
        list-style: none;
        li {
          margin: 1rem 3rem;
          color: white;
          opacity: 1 !important;
          .sale {
            color: red;
          }
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}

@media (min-width: 520px) {
  html {
    font-size: 8px;
  }

  .main__categories {
    display: none !important;
  }
  .main__banners {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    &--50,
    &--30,
    &--2X1 {
      width: 25rem;
      margin: 0 3rem 1rem 0;
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 600px) {
  html {
    font-size: 9px;
  }

  .main__banners {
    &--50,
    &--30,
    &--2X1 {
      width: 28rem;
    }
  }
  .main-footer {
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    &__mainContanct {
      justify-self: self-start !important;
    }
  }
}
