.main-header__banner {
  img {
    width: 100%;
    margin-top: 9rem;
  }
}

section {
  margin: 2rem 0;
  padding: 2rem 0;
}
.main__categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #cacaca;
  &--70 a p {
    color: red;
  }

  & > * {
    height: 5rem;
    // width: 25%;
    padding: 1rem 2rem;
    margin: 1rem 3rem;
    border: solid 2px black;

    &:hover p {
      transform: scale(1.2);
    }
    a {
      height: 100%;
      width: 100%;
      text-align: center;
      text-decoration: none;
      color: black;
      p {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}

.productsCarrousel {
  text-align: center;
  margin: 0 auto;
  h2 {
    font-size: 2rem;
  }
}
